@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); 
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family:"inter",sans-serif;
}


body {
    color: #ededed;
    background: #081b29;
}


.header {
    position: fixed;
    font-family:nunito !important ;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    background:black;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
}  


.header a:hover {
    color: chocolate;
   
}


.logo {
    position: relative;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}


.navbar a {
    display: inline;
    font-family: nunito !important;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    animation-delay: calc(.1s * var(--i));
    transition: .3s;
  
}


.navbar a:hover {
    color: #0ef;
}


.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(deva.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}


.home-content {
    max-width: 600px;
}


.home-content h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}


.home-content p:nth-of-type(2) {
    margin-bottom: 10px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content p span {
    color: #0ef;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}


.home-content h1 {
    font-size: 30px;
    font-weight: 700;
    margin: -3px 0;
    color: chocolate;
    animation-delay: 1s;
}


.home-content p {
    font-size: 20px;
    margin: 20px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;


}


.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 2s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    margin: 30px 15px 30px 0;
}


.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}


.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}


.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items:center;
}
.about_img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;


}
.about-text h2{
font-size: 40px;


}
.about-text h2 span{
    font-size: 50px;
    font-weight: 500;
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 500;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#Services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container {
    padding: 90px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: backround 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px chocolate,
                1px 1px 20px chocolate;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}


.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    transform: translateY(-10px);
}
.about-text-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.about-text-list div{
    background-color: transparent;
    padding: 30px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: backround 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px chocolate,
                1px 1px 20px chocolate
}
.about-text-list div p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about-text-list i{
    font-size: 50px;
    margin-bottom: 30px;
}


.about-text-list div:hover{
    transform: translateY(-10px);
}
.sub-title {
    color: chocolate;
}
.sub-title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.contact p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation:slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color:#000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity:0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 5px #0ef;


}
.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px;
}
.last-text P{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 18, 91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
/* Small devices (phones, less than 600px) */
@media (max-width: 600px) {
    .header {
        padding: 15px 5%;
        flex-direction: column;
        align-items: flex-start;
    }


    .navbar {
        flex-direction: column;
        gap: 10px;
    }


    .navbar a {
        font-size: 18px;
        margin-left: 0;
    }


    .home {
        flex-direction: column;
        padding: 100px 5% 0;
        background-position: top;
    }


    .home-content h1 {
        font-size: 24px;
    }


    .home-content h3, .home-content p {
        font-size: 16px;
    }


    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }


    .about_img img {
        max-width: 80%;
        margin: auto;
    }


    .about-text {
        padding: 0 20px;
    }


    .container {
        padding: 20px;
    }


    .contact {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }


    .contact-text h2 {
        font-size: 40px;
    }


    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
    }
}


/* Medium devices (tablets, between 600px and 1024px) */
@media (max-width: 1024px) {
    .header {
        padding: 20px 5%;
    }


    .home {
        padding: 80px 5% 0;
    }


    .home-content {
        max-width: 100%;
    }


    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }


    .about_img img {
        max-width: 70%;
        margin: auto;
    }


    .about-text-list {
        grid-template-columns: 1fr;
    }


    .service-list {
        grid-template-columns: 1fr;
    }


    .contact {
        grid-template-columns: 1fr;
    }


    .contact-text h2 {
        font-size: 50px;
    }


    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
    }


    .top {
        bottom: 1rem;
        right: 1rem;
    }
}